/* @import "variables"; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sombreado{
    -webkit-box-shadow: 0px 0px 8px 4px $gris1;
    -moz-box-shadow: 0px 0px 8px 4px $gris1;
    box-shadow: 0px 0px 8px 4px $gris1;
    border-radius: 8px;
    padding: 16px;
}

.titulo-seccion{
    font: 700 30px/35px $fuente-roboto;
    margin: 10px 0;
}

.boton-primario{
    background: $azul-2;
    font: 700 18px/22px $fuente-roboto;
    color: $blanco;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    white-space: nowrap;
    &:hover{
        background: $negro;
        cursor: pointer;
    }
}

.dato{
    display: flex;
    flex-direction: column;
    width: 100%;
    &.desactivado{
        display: none;
    }
    label{
        font: 700 15px/27px $fuente-open-sans;
    }
    input,
    select{
        height: 35px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid $gris1;
        font: 15px/20px $fuente-open-sans;
        &:focus{
            outline: none;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 3px solid $azul-primario;
        }
        &:hover{
            cursor: pointer;
            border-bottom: 3px solid $azul-primario;
        }
    }
    .identificacion{
        &.desactivado{
            cursor: not-allowed;
        }
    }
}
.contenedor-principal{
    max-width: 1440px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    form{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .titulo{
        font: 30px/35px $fuente-monserrat;
        font-weight: bold;
        margin: 30px auto;
        text-align: center;
    }
    .header{

        &__logo{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            img{
                width: auto;
                height: 100%;
                grid-column: 1/2;
                margin: auto;
            }
            .nombre-empresa{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                grid-column: 2/6;
                h2{
                    font: 80px/90px $fuente-monserrat;
                    font-weight: 900;
                    position: relative;
                    span{
                        color: $azul-primario;
                        font: 40px/45px $fuente-roboto;
                        font-weight: 700;
                        position: absolute;
                        bottom: -28px;
                        right: -10%;
                    }
                }
                p{
                    margin-top: 10px;
                    font: 700 20px/55px $fuente-roboto;
                }
            }
            .num-factura{
                grid-column: 6/7;
                display: flex;
                align-items: center;
                font: 900 30px/35px $fuente-roboto;
                span{
                    color: $rojo;
                    font-weight: 400;
                }
            }
        }
        
    }
    .header__fechas{
        display: flex;
        gap: 20px;
        width: 40%;
        margin: 0 0 0 auto;
    }
    .datos-cliente{
        margin-top: 20px;
        .datos__header{
            gap: 20px;
            grid-template-columns: repeat(6, 1fr);
            padding-bottom: 30px;
            display: none;
            &.inhabilitado{
                display: grid;
                .dato{
                    input{
                        cursor: not-allowed;
                        border-bottom: 3px solid $gris1;
                    }
                    select{
                        cursor: not-allowed;
                        border-bottom: 3px solid $gris1;
                    }
                }
            }
            &.habilitado{
                display: grid;
            }
            .header__datos{
                grid-column: 1/7;
                display: grid;
                grid-template-columns: repeat(1, 60%) auto;
                gap: 20px;
            }
        }
        .buscar-cliente{
            margin-bottom: 40px;
            .error-cliente{
                height: 20px;
                color: $rojo;
                font: 400 13px/22px $fuente-roboto;
                &.registroExitoso{
                    color: $verde;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    &::before{
                        content: '';
                        display: block;
                        width: 15px;
                        height: 15px;
                        background-image: url('/assets/img/check-circle.svg');
                        filter: invert(63%) sepia(99%) saturate(253%) hue-rotate(71deg) brightness(89%) contrast(95%);
                    }
                }
            }
            .dato{
                grid-template-columns: auto 50px;
                display: grid;
                label{
                    grid-column: 1/3;
                }
                input{
                    border: 3px solid $gris1;
                    border-right: none;
                    padding-left: 10px;
                    border-radius: 4px 0 0 4px;
                    height: 40px;
                }
                
                button{
                    width: 100%;
                    height: 100%;
                    background: $azul-2;
                    border: none;
                    border-radius: 0 4px 4px 0;
                    position: relative;
                    &::before{
                        content: '';
                        width: 24px;
                        height: 24px;
                        background-image: url('/assets/img/search-icon.svg');
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        filter: invert(93%) sepia(93%) saturate(2%) hue-rotate(72deg) brightness(107%) contrast(100%);
                    }
                    &:hover{
                        background: $negro;
                        cursor: pointer;
                    }
                }
            }
            
        }
    }
    .datos-producto{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .dato{
            max-width: 250px;
        }
        .definicion-producto{
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
        .observacion-producto{
            display: flex;
            align-items: center;
            gap: 20px;
            .dato{
                max-width: 100%;
            }
        }
    }
    .detalle-pedido{
        margin-bottom: 60px;
        .sombreado{
            padding: 0;
        }
        table{
            width: 100%;
            overflow: hidden;
            thead{
                th{
                    font: 700 20px/25px $fuente-open-sans;
                    background: $azul-2;
                    color: $blanco;
                    padding: 5px 0;
                    &:nth-child(1){
                        width: 10%;
                    }
                    &:nth-child(2){
                        width: 60%;
                    }
                }
            }
            tbody{
                text-align: center;
                td{
                    font: 400 20px/25px $fuente-open-sans;
                    padding: 5px 0;
                    &:nth-child(2){
                        text-align: start;
                        padding-left: 10px;
                    }
                }
                tr{
                    &:nth-child(even){
                        background: $gris1;
                    }
                }
            }
            tfoot{
                text-align: center;
                height: 60px;
                td{
                    font: 700 20px/25px $fuente-open-sans;
                    
                    &:nth-child(odd){
                        background: $azul-2;
                        color: $blanco;
                    }
                    &:nth-child(1){
                        background: $blanco;
                    }
                }
            }
        }
        
    }
}