//Fuentes
$fuente-monserrat: "Montserrat";
$fuente-open-sans: "Open Sans";
$fuente-roboto: "Roboto";


// Colores

$blanco: #fff;
$negro: #000;
$gris1: #bfbfbf;
$azul-primario: #66acf6;
$azul-2: #015fa1;
$rojo: #ee0805;
$verde: #60cb60;