/* @import "variables"; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sombreado {
  box-shadow: 0px 0px 8px 4px #bfbfbf;
  border-radius: 8px;
  padding: 16px;
}

.titulo-seccion {
  font: 700 30px/35px "Roboto";
  margin: 10px 0;
}

.dato {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dato.desactivado {
  display: none;
}
.dato label {
  font: 700 15px/27px "Open Sans";
}
.dato input,
.dato select {
  height: 35px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #bfbfbf;
  font: 15px/20px "Open Sans";
}
.dato input:focus,
.dato select:focus {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #66acf6;
}
.dato input:hover,
.dato select:hover {
  cursor: pointer;
  border-bottom: 3px solid #66acf6;
}

.contenedor-principal {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contenedor-principal form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contenedor-principal .titulo {
  font: 30px/35px "Montserrat";
  font-weight: bold;
  margin: 30px auto;
  text-align: center;
}
.contenedor-principal .header__logo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.contenedor-principal .header__logo img {
  width: auto;
  height: 100%;
  grid-column: 1/2;
  margin: auto;
}
.contenedor-principal .header__logo .nombre-empresa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  grid-column: 2/6;
}
.contenedor-principal .header__logo .nombre-empresa h2 {
  font: 80px/90px "Montserrat";
  font-weight: 900;
  position: relative;
}
.contenedor-principal .header__logo .nombre-empresa h2 span {
  color: #66acf6;
  font: 40px/45px "Roboto";
  font-weight: 700;
  position: absolute;
  bottom: -28px;
  right: -10%;
}
.contenedor-principal .header__logo .nombre-empresa p {
  margin-top: 10px;
  font: 700 20px/55px "Roboto";
}
.contenedor-principal .header__logo .num-factura {
  grid-column: 6/7;
  display: flex;
  align-items: center;
  font: 900 30px/35px "Roboto";
}
.contenedor-principal .header__logo .num-factura span {
  color: #ee0805;
  font-weight: 400;
}
.contenedor-principal .datos-cliente {
  margin-top: 20px;
}
.contenedor-principal .datos-cliente .datos__header {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-bottom: 30px;
}
.contenedor-principal .datos-cliente .datos__header .header__datos {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(1, 60%) auto;
  gap: 20px;
}
.contenedor-principal .datos-cliente .datos__header .header__fechas {
  grid-column: 5/7;
  display: flex;
  gap: 20px;
}
.contenedor-principal .datos-producto {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contenedor-principal .datos-producto .dato {
  max-width: 250px;
}
.contenedor-principal .datos-producto .definicion-producto {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.contenedor-principal .datos-producto .observacion-producto {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contenedor-principal .datos-producto .observacion-producto .dato {
  max-width: 100%;
}
.contenedor-principal .datos-producto .observacion-producto button {
  background: #015fa1;
  font: 700 18px/22px "Roboto";
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  white-space: nowrap;
}
.contenedor-principal .datos-producto .observacion-producto button:hover {
  background: #000;
  cursor: pointer;
}
.contenedor-principal .detalle-pedido {
  margin-bottom: 60px;
}
.contenedor-principal .detalle-pedido .sombreado {
  padding: 0;
}
.contenedor-principal .detalle-pedido table {
  width: 100%;
  overflow: hidden;
}
.contenedor-principal .detalle-pedido table thead th {
  font: 700 20px/25px "Open Sans";
  background: #015fa1;
  color: #fff;
  padding: 5px 0;
}
.contenedor-principal .detalle-pedido table thead th:nth-child(1) {
  width: 10%;
}
.contenedor-principal .detalle-pedido table thead th:nth-child(2) {
  width: 60%;
}
.contenedor-principal .detalle-pedido table tbody {
  text-align: center;
}
.contenedor-principal .detalle-pedido table tbody td {
  font: 400 20px/25px "Open Sans";
  padding: 5px 0;
}
.contenedor-principal .detalle-pedido table tbody td:nth-child(2) {
  text-align: start;
  padding-left: 10px;
}
.contenedor-principal .detalle-pedido table tbody tr:nth-child(even) {
  background: #bfbfbf;
}
.contenedor-principal .detalle-pedido table tfoot {
  text-align: center;
  height: 60px;
}
.contenedor-principal .detalle-pedido table tfoot td {
  font: 700 20px/25px "Open Sans";
}
.contenedor-principal .detalle-pedido table tfoot td:nth-child(odd) {
  background: #015fa1;
  color: #fff;
}
.contenedor-principal .detalle-pedido table tfoot td:nth-child(1) {
  background: #fff;
}